@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body,
html {
  background: radial-gradient(
    circle,
    rgba(255, 252, 0, 1) 0%,
    rgba(240, 237, 23, 1) 100%
  );
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kalam', cursive;
}
